
.box1{
    background-color: red;
    height: 80px;
    margin: 10px 0 10px 0;
}
.box2{
    background-color: rgb(29, 209, 89);
    height: 80px;
    margin: 10px 0 10px 0;
}
.box3{
    background-color: rgb(48, 22, 199);
    height: 150px;
    margin: 10px 0 10px 0;
}
.box4{
    background-color: rgb(243, 38, 164);
    height: 80px;
    margin: 10px 0 10px 0;
}
.box5{
    background-color: rgb(150, 175, 7);
    height: 80px;
    margin: 10px 0 10px 0;
}
.box6{
    background-color: rgb(15, 245, 253);
    height: 80px;
    margin: 10px 0 10px 0;
}
.box7{
    background-color: rgb(59, 35, 104);
    height: 80px;
    margin: 10px 0 10px 0;
}
.box8{
    background-color: rgb(230, 14, 140);
    height: 80px;
    margin: 10px 0 10px 0;
}
.box9{
    background-color: rgb(9, 75, 31);
    height: 40px;
    margin: 10px 0 10px 0;
}
.box10{
    background-color: rgb(159, 109, 240);
    height: 40px;
    margin: 10px 0 10px 0;
}
.box11{
    background-color: rgb(223, 184, 12);
    height: 40px;
    margin: 10px 0 10px 0;
}
.box12{
    background-color: rgb(214, 10, 10);
    height: 40px;
    margin: 10px 0 10px 0;
}
.box13{
    background-color: rgb(29, 209, 89);
    height: 20px;
    margin: 10px 0 10px 0;
}
